<?xml version="1.0"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" thread-count="3" parallel="tests">
<test name="TestSuite3" parallel="tests">
    <classes>
        <class name="EEtest.EEexamp" />
    </classes>
    </test>
    <test name="TestSuite4" parallel="tests">
        <classes>
            <class name="EEtest.ragaca" />
        </classes>
    </test>
    </suite>






